


body{font-weight: normal;
  font-size:12pt;
}

* {   font-family: 'Montserrat', sans-serif;}

h1,h2,h3,h4 {   font-family: 'Cinzel Decorative', cursive;
                font-weight: normal;
}

h2 {margin-top: 400px;}

div#menu {
    width: 100%;
}

div#menu a {
    font-family: 'Cinzel Decorative', cursive;
    display: inline-block;
    width: 49%;
    text-align: center;
    font-feature-settings: ;
}

th.header {
  font-weight:bold !important;;
   font-size:1.2em !important;;
}

tbody th{
  font-weight:normal !important;;  
}